.pf-widget.pf-widget-variant-2.image-widget, .pf-widget-img {
  border-radius: 0px !important;
  width: 100% !important;
  height: auto !important;
  top: 0px !important;
  left: 0px !important;
  margin: 0px !important;
}
.pf-widget.pf-widget-variant-2.image-widget, .pf-widget-content, .pf-widget-headline {
  margin-top: 100px;
}
.pf-widget.pf-widget-variant-2.image-widget .pf-widget-img {
  z-index: 0;
}
.pf-widget.image-widget, .pf-widget-close {
  color: white !important;
  z-index: 1;
}
